.nav-wrapper {
  background: #74c09a;
}

.price {
  background: #74c09a;
}

.row {
  margin: 0px;
}

.btn-large {
  margin-top: 20px;
  background-color: #74c09a;
}


h5 {
  color: #ffffff;
  padding: 10px 0px 10px 0px;
  margin: 0px;
}

h6 {
  font-size: 1.25rem;
}

p {
  margin: 0px;
}

button {
  margin-left: 0px; 
}
